body {
  font-family: "Poppins", sans-serif;
}
.orange-color {
  color: orange;
}
h1 {
  font-size: 55px;
  font-weight: 5;
}
h2 {
  font-size: 40px;
}
.flex-container {
  display: flex;
  margin: auto;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}
.half-width img {
  width: 80%;
}
.half-width h1 {
  width: 80%;
  padding-top: 150px;
}
.half-width p {
  margin-bottom: 70px;
  font-weight: 10;
}
.linked-button {
  color: white;
  padding: 15px 30px;
  background-image: linear-gradient(orange, tomato);
  text-decoration: none;
  border-radius: 40px;
  font-weight: 400;
}
.background {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
.about-section {
  width: 30%;
  padding-top: 120px;
}
.background img {
  width: 50%;
  padding-left: 150px;
  padding-top: 63px;
}
.center-text {
  text-align: center;
  width: 50%;
  padding-left: 20%;
}
.process-section {
  margin-left: 80px;
}
.process-section img {
  width: 300px;
}
.process-section-individual {
  margin: 20px 30px;
  width: 300px;
  padding: 20px;
  border: 10px solid none;
  box-shadow: 0px 0px 30px -2px rgba(172, 163, 163, 0.58);
  border-radius: 25px;
}
.social-follower {
  display: flex;
  margin: auto;
  border: 10px solid none;
  box-shadow: 0px 0px 30px -2px rgba(172, 163, 163, 0.58);
  border-radius: 25px;
}

.individual {
  margin: 0px 110px;
  padding: 20px 0px;
  font-weight: 900;
}
.motive {
  text-align: center;
  color: gray;
  background-color: black;
  padding: 3px 0px 100px;
}
.motive span {
  color: rgb(214, 122, 47);
}
